.flexContainer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
  }
  
  .flexItem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .centeredText {
    max-width: 80%;
  }
  
  .centeredImage {
    width: 80%;
    height: auto;
  }

  .colmd6{
    flex: 0 0 auto;
    width: 50%;
  }