.flexContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.flexTextDiv{
  flex-direction: column;
}

.flexItem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.centeredText {
  max-width: 80%;
}

.centeredImage {
  width: 80%;
  height: auto;
}

.colMd6{
  flex: 0 0 auto;
  width: 50%;
}

@media (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
  }
  .centeredText {
    max-width: 100%;
  }
  .centeredImage {
    width: 100%;
    height: auto;
  }
  .colMd6{
    width: 100%;
  }
}
